.mint {
  margin: 2rem auto;
  padding: 0 4rem;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;

    input, textarea {
      background: none;
      outline: none;
      border: 2px solid var(--accent-color3);
      font-family: inherit;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 1rem;

      resize: none;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

[data-theme="dark"] {
  .mint {
    color: #fff;

    &__form {
      color: #fff;

      input, textarea {
        color: #fff;
      }
    }
  }
}