.numWins {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2em;

  font-size: 2rem;
  height: 3rem;
}

@media screen and (max-width: 780px) {
  .numWins {
    font-size: 1.5rem;
  }
}

.win {
  border: 2px solid #fff;
  padding: 0.8rem;
  border-radius: 100%;
}
