@import "base/base";

@import "components/scrollToTop";
@import "components/navbar";
@import "components/footer";
@import "components/card";
@import "components/button";
@import "components/cardList";
@import "components/btnMarketplace";


@import "sections/home";
@import "sections/free";
@import "sections/client";
@import "sections/superRare";
@import "sections/release";
@import "sections/signup";
@import "sections/like";
@import "sections/marketplace";
@import "sections/mint";
@import "sections/created";
@import "sections/game-page";
@import "sections/created__selling";